@font-face {
    font-family: 'icomoon';
    src:    url('../fonts-new/icomoon.eot?mu34zz');
    src:    url('../fonts-new/icomoon.eot?mu34zz#iefix') format('embedded-opentype'),
        url('../fonts-new/icomoon.ttf?mu34zz') format('truetype'),
        url('../fonts-new/icomoon.woff?mu34zz') format('woff'),
        url('../fonts-new/icomoon.svg?mu34zz#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.icon-benefits:before {
    content: "\e900";
}
.icon-calculator:before {
    content: "\e901";
}
.icon-calendar:before {
    content: "\e902";
}
.icon-chart:before {
    content: "\e903";
}
.icon-claims:before {
    content: "\e904";
}
.icon-close:before {
    content: "\e905";
}
.icon-completed:before {
    content: "\e906";
}
.icon-delete:before {
    content: "\e907";
}
.icon-discounts:before {
    content: "\e908";
}
.icon-dollar:before {
    content: "\e909";
}
.icon-edit:before {
    content: "\e90a";
}
.icon-expand-less:before {
    content: "\e90b";
}
.icon-expand-more:before {
    content: "\e90c";
}
.icon-health-apple:before {
    content: "\e90d";
}
.icon-health-savings:before {
    content: "\e90e";
}
.icon-id-card:before {
    content: "\e90f";
}
.icon-info:before {
    content: "\e910";
}
.icon-large-group:before {
    content: "\e911";
}
.icon-mail:before {
    content: "\e912";
}
.icon-medical:before {
    content: "\e913";
}
.icon-menu:before {
    content: "\e914";
}
.icon-more:before {
    content: "\e915";
}
.icon-naviagate-before:before {
    content: "\e916";
}
.icon-naviagate-next:before {
    content: "\e917";
}
.icon-nurseline:before {
    content: "\e918";
}
.icon-phone:before {
    content: "\e919";
}
.icon-pill:before {
    content: "\e91a";
}
.icon-search:before {
    content: "\e91b";
}
.icon-smartphone:before {
    content: "\e91c";
}
.icon-stethoscope:before {
    content: "\e91d";
}
.icon-travel-coverage:before {
    content: "\e91e";
}
.icon-umbrella-benefits:before {
    content: "\e91f";
}
.icon-user:before {
    content: "\e920";
}
