/* ==========================================================================
   Utilities
   ========================================================================== */

/* Aspect Ratio Data attributes
   ========================================================================== */
/* Allows elements to preserve their aspect ratio when scaling.
 * If content is taller than the specified ratio, the element will
 * adjust to fit.
 * (http://zzzzbov.com/blag/scalable-videos-with-aspect-ratio)
 */
[data-aspect-ratio] {
  position: relative;
  display: block;
  max-width: 100%;
}
[data-aspect-ratio]::before {
  display: block;
  content: '';
  float: left;
}
[data-aspect-ratio]::after {
  content: '';
  display: table;
  clear: both;
}

[data-aspect-ratio="21:9"]::before {
  padding-top: 42.86%;
}
[data-aspect-ratio="16:9"]::before {
  padding-top: 56.25%;
}
[data-aspect-ratio="4:3"]::before {
  padding-top: 75%;
}
[data-aspect-ratio="1:1"]::before {
  padding-top: 100%;
}


/* Typography
   ========================================================================== */
 .text-dark { color: var(--text-dark-primary); }
 .text-light { color: var(--text-light-primary); }


 /* Layout
    ========================================================================== */
 /* Used with Bootstrap's '.container-fluid'. Constrains content to the width of
  * the largest breakpoint while allowing full-width background colors & images.
  */

 /* default padding when smaller than fixed size, & fallback for old browsers*/
.container-fixed-992,
.container-fixed-1200 {
   padding: 1rem;
}

 @media only screen and (min-width : 992px) {
   .container-fixed-992 {
     padding: 1rem calc(50% - 464px);
   }
 }

 @media only screen and (min-width : 1200px) {
   .container-fixed-1200 {
     padding: 1rem calc(50% - 568px);
   }
 }

.u-container-padding-sm {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.u-container-padding-md {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.u-container-padding-lg {
  padding-top: 6rem;
  padding-bottom: 6rem;
}


/* Color
   ========================================================================== */
.u-bgc-white { background-color: #fff !important; }
.u-bgc-gray  { background-color: var(--gray-300) !important; }





/* 'eq-height' classes can be used with card components to give them the same
 * height when there are multiple cards in a row.
 * classes are prefixed with the breakpoint size to preserve normal BS grid
 * behavior (stacking) when below that size.
 */
@media only screen and (min-width : 768px) {
  .sm-eq-height,
  .sm-eq-height > * {
    display: flex;
  }
}
/* TODO: add additional breakpoint flex styles as needed */


/* Junk drawer
   ========================================================================== */
/* HACK: Fixes IE showing svg images at arbitrary sizes */
 @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
   img[src*=".svg"] {
     width: 100%;
   }
 }
