head
  meta(charset='UTF-8')
  title Premera Style Guide | #{currentPage}
  meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css')
  link(href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,400italic,100', rel='stylesheet', type='text/css')
  link(rel='stylesheet', href='./css/fonts.css')
  link(rel='stylesheet', href='./css/style.css')
  link(rel='stylesheet', href='./css/prism.css')
