// Global libraries
script(src='https://code.jquery.com/jquery-2.2.4.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js')
script(src='./js/lib/prism.js')
script(src='./js/lib/headroom.min.js')
script(src='./js/headroomConfig.js')
script(src='./js/main.js')
