-
  var pages = {
    'Home': 'index',
    'Alerts': 'alerts',
    'Buttons': 'buttons',
    'Cards': 'cards',
    'Colors': 'colors',
    'Icons': 'icons',
    'Navigation': 'navigation',
    'Notifications': 'notifications',
    'Typography': 'typography'
  };

.fixed-sidebar
  ul.fixed-sidebar__nav
    each url, page in pages
      li
        if page === currentPage
          a.selected(href=url + '.html')= page
        else
          a(href=url + '.html')= page
