-
  // add new pages as 'Page Title': 'url' key:value pairs
  var pages = {
    'Home': 'index',
    'Accordions': 'accordions',
    'Alerts': 'alerts',
    'Buttons': 'buttons',
    'Cards': 'cards',
    'Colors': 'colors',
    'Icons': 'icons',
    'Navigation': 'navigation',
    'Notifications': 'notifications',
    'Text Fields': 'text-fields',
    'Toggles': 'toggles',
    'Typography': 'typography'
  };

input#nav-toggle.sr-only(type='checkbox')
label.nav-toggle-label.icon-menu(for='nav-toggle')
.fixed-sidebar
  ul.fixed-sidebar__nav
    each url, page in pages
      li
        if page === currentPage
          a.selected(href=url + '.html')= page
        else
          a(href=url + '.html')= page
