-
  // add new pages as 'Page Title': 'url' key:value pairs
  var componentPages = {
    'Home': 'index',
    'General Page Heirarchy': 'page-heirarchy',
    'Page Layouts': 'layouts',
    'Accordions': 'accordion',
    'Buttons': 'buttons',
    'Cards': 'cards',
    'Colors': 'colors',
    'Icons': 'icons',
    'Notifications & Alerts': 'alerts',
    'Snackbars': 'snackbars',
    'Steppers': 'steppers',
    'Tables': 'tables',
    'Text Fields': 'text-fields',
    'Toggles': 'toggles',
    'Typography': 'typography'
  };

input#nav-toggle.sr-only(type='checkbox', autocomplete='off')
label(for='nav-toggle').nav-toggle-label
  span.icon-menu
  span menu

.fixed-sidebar
  img(src='img/style-guide-header.svg')
  ul.fixed-sidebar__nav
    each url, page in componentPages
      li
        if page === currentPage
          a.selected(href=url + '.html')= page
        else
          a(href=url + '.html')= page
