.accordion__panel {
	position: relative;
	background: #fff;
  transition: margin .18s ease-in-out;
  border-bottom: 1px solid rgba(0,0,0,.1);
  box-shadow:
    0 2px 2px 0 rgba(0,0,0,.14),
    0 3px 1px -2px rgba(0,0,0,.2),
    0 1px 5px 0 rgba(0,0,0,.12);
}

.accordion__title {
	display: block;
	padding: 1em;
  margin: 0;
	cursor: pointer;
	user-select: none;
}
.accordion__title:hover {
	background-color: var(--gray-200);
}

.accordion__content {
	padding: 1em;
	display: none;
}
.accordion__content *:last-child {
  margin-bottom: 0;
}

input:checked + .accordion__panel,
.accordion__panel:last-child {
  border-bottom: none;
}
input:checked + .accordion__panel .accordion__title:hover {
	background-color: #fff;
}
input:checked + .accordion__panel {
	margin: .5rem 0;
  z-index: 1000;
  box-shadow:
    0 2px 2px 0 rgba(0,0,0,0.2),
    0 6px 10px 0 rgba(0,0,0,0.3);
}
input:checked + .accordion__panel .accordion__title {
	border-bottom: 1px solid rgba(0,0,0,.1);
}
input:checked + .accordion__panel .accordion__content,
input:checked + .accordion__panel .accordion__close {
	display: block;
}

.accordion__close {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: none;
	height: 4rem;
	margin: 0;
	cursor: pointer;
}
