.pbc-card {
  /* used for expanding clickable area of links in cards */
  position: relative;
  /**
   * Set to dislpay flex so cards with buttons will have them pinned
   * to the bottom. Does not affect other card tyles.
   */
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: .5rem;
  border-radius: 2px;
  background-color: #fff;
  box-shadow:
    0 2px 2px 0 rgba(0,0,0,.14),
    0 3px 1px -2px rgba(0,0,0,.2),
    0 1px 5px 0 rgba(0,0,0,.12);

  & [class^='icon'] {
    color: rgb(0, 153, 217);
    vertical-align: middle;
    font-size: 48px;
  }
  &__icon {
    margin-bottom: 1.5em;
    width: 3em;
    height: 3em;
  }
  &__icon--margin-sm {
    margin-bottom: 1em;
  }

  &__heading {
    margin-top: 0;
    margin-bottom: .79em;
  }

  &__content {
    flex-grow: 1;
    padding: 1.5em;
  }
}

.pbc-card--img-bg {
  display: block;
  background-position: center;
  background-size: cover;

  & .pbc-card__content {
    padding: 1em;
  }
}




.pbc-card--link {
  cursor: pointer;
  transition:
    box-shadow 0.28s cubic-bezier(0.4,0,0.2,1),
    transform 0.2s ease-out;

  &:hover {
    box-shadow:
      0 2px 2px 0 rgba(0,0,0,0.2),
      0 6px 10px 0 rgba(0,0,0,0.3);
    transform: translateY(-2px);
  }
  & a {
    color: inherit;
    font-weight: inherit;
  }
  & a:before {
    /* expands clickable area to entire card */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
  }
  & a:hover {
    text-decoration: none;
  }
}

.pbc-card__content p:last-child {
  margin-bottom: 0;
}

.pbc-card__buttons {
  padding: 0 1em 1em;
}
.pbc-card .pbc-btn-secondary {
  margin-bottom: 0;
  padding: 0 .5em;
}

.pbc-card__expand-content {
  padding: 0 1.5em 0;
}
.pbc-card__expand-content p:last-child {
  margin-bottom: 1.5em;
}
