.pbc-footer {
  color: #fff;

  &__state-select {
    display: flex;
    align-items: flex-start;

    & img {
      height: 1.5rem;
      margin-right: .5rem;
    }

    & label {
      top: unset !important;
      bottom: -1.6rem;
      left: 2rem !important;
      color: white !important;
    }

    & select {
      color: #fff !important;
      font-size: 1.1rem !important;
      font-weight: 400;
      border-bottom: 1px solid #fff !important;
    }

    & option {
      color: var(--text-dark-primary);
    }

    @media only screen and (min-width : 768px) {
      & img {
        height: 4rem;
        margin-right: 1rem;
      }

      & label {
        bottom: -.5rem;
        left: 5rem !important;
        color: white !important;
      }

      & select {
        color: #fff !important;
        font-size: 2rem !important;
        font-weight: 400;
        border-bottom: 1px solid #fff !important;
      }
    }
  }

  &__navigation {
    background-color: var(--primary-700);
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
  }

  &__social-links {
    background-color: var(--primary-500);
  }

  &__languages {
    background-color: var(--primary-900);
  }
}
