.pbc-hero {
  padding-top: 5rem;
  background: url('../img/kayak.jpg') no-repeat center center;
  background-size: cover;
}

.hero-heading {
  font-size: responsive;
  text-shadow: 0 0 6px rgba(#000, .4);
  font-weight: 500;
  letter-spacing: 0.05em;
  min-font-size: 1.774rem;
  max-font-size: 3.247rem;
}
