.pbc-popover,
.pbc-popover:hover {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  text-shadow: .05em 0 white, -.05em 0 white;
  background: linear-gradient(90deg, gray 40%, transparent 0) repeat-x;
  background-size: .4em 2px;
  background-position: 0 1.05em;
}
