.button-container {
  text-align: center;
}
fieldset {
  margin: 0 0 3rem;
  padding: 0;
  border: none;
}
.form-radio,
.form-group {
  position: relative;
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
}
.form-inline> .form-group,
.form-inline> .btn {
  display: inline-block;
  margin-bottom: 0;
}
.form-help {
  margin-top: 0.125rem;
  margin-left: 0.125rem;
  color: #b3b3b3;
  font-size: 0.8rem;
}
.form-radio .form-help,
.form-group .form-help {
  position: absolute;
  width: 100%;
}

.form-radio .form-help {
  margin-top: -1rem;
  padding-top: 0.25rem;
}
.form-group input {
  height: 1.9rem;
}
.form-group textarea {
  resize: none;
}
.form-group select {
  padding: 0.125rem 0.125rem 0.0625rem;
  width: 100%;
  height: 1.6rem;
  border: none;
  background: none;
  box-shadow: none;
  font-size: 1rem;
  line-height: 1.6;
}
.form-group .control-label {
  position: absolute;
  top: 0.25rem;
  z-index: 1;
  padding-left: 0.125rem;
  color: #b3b3b3;
  font-weight: normal;
  font-size: 1rem;
  transition: all 0.28s ease;
  pointer-events: none;
}
.form-group .bar {
  position: relative;
  display: block;
  border-bottom: 0.0625rem solid #999;
}
.form-group .bar::before {
  position: absolute;
  bottom: -0.0625rem;
  left: 50%;
  z-index: 2;
  width: 0;
  height: 0.125rem;
  background: var(--link-color);
  content: '';
  transition: left 0.28s ease, width 0.28s ease;
}
.form-group input,
.form-group textarea {
  display: block;
  padding: 0.125rem 0.125rem 0.0625rem;
  width: 100%;
  border-width: 0;
  border-color: transparent;
  background: none;
  box-shadow: none;
  color: transparent;
  font-size: 1rem;
  line-height: 1.9;
  transition: all 0.28s ease;
}
.form-group input[type="file"] {
  line-height: 1;
}
.form-group input[type="file"]~ .bar {
  display: none;
}
.form-group select,
.form-group input:focus,
.form-group input:valid,
.form-group input.form-file,
.form-group input.has-value,
.form-group textarea:focus,
.form-group textarea:valid,
.form-group textarea.form-file,
.form-group textarea.has-value {
  color: #333;
}
.form-group select~ .control-label,
.form-group input:focus~ .control-label,
.form-group input:valid~ .control-label,
.form-group input.form-file~ .control-label,
.form-group input.has-value~ .control-label,
.form-group textarea:focus~ .control-label,
.form-group textarea:valid~ .control-label,
.form-group textarea.form-file~ .control-label,
.form-group textarea.has-value~ .control-label {
  top: -1rem;
  left: 0;
  color: gray;
  font-size: 0.8rem;
}
.form-group select:focus,
.form-group input:focus,
.form-group textarea:focus {
  outline: none;
}
.form-group select:focus~ .control-label,
.form-group input:focus~ .control-label,
.form-group textarea:focus~ .control-label {
  color: var(--link-color);
}
.form-group select:focus~ .bar::before,
.form-group input:focus~ .bar::before,
.form-group textarea:focus~ .bar::before {
  left: 0;
  width: 100%;
}

.has-error .legend.legend,
.has-error.form-group .control-label.control-label {
  color: #d9534f;
}
.has-error.form-group .form-help,
.has-error.form-group .helper,
.has-error.checkbox .form-help,
.has-error.checkbox .helper,
.has-error.radio .form-help,
.has-error.radio .helper,
.has-error.form-radio .form-help,
.has-error.form-radio .helper {
  color: #d9534f;
}
.has-error .bar::before {
  left: 0;
  width: 100%;
  background: #d9534f;
}
