.pbc-toggle label {
  font-weight: 300;
}

.pbc-toggle input[type='checkbox'],
.pbc-toggle input[type='radio'] {
  position: absolute;
  opacity: 0;
}

/* shared styling between checkbox and radio toggles */
.pbc-toggle input[type='checkbox'] + label::before,
.pbc-toggle input[type='radio'] + label::before {
  display: inline-block;
  box-sizing: border-box;
  margin-right: .5em;
  width: 1em;
  height: 1em;
  border: 2px solid var(--accent-500);
  background-color: inherit;
  color: transparent;
  content: '\00a0';
  vertical-align: middle;
  font-weight: 700;
  line-height: .8;
  cursor: pointer;
}
.pbc-toggle input[type='checkbox']:disabled + label::before,
.pbc-toggle input[type='radio']:disabled + label::before {
  border-color: var(--gray-300);
  content: '';
}

/* checkbox styles */
.pbc-toggle input[type='checkbox'] + label::before {
  border-radius: 2px;
  transition:
    color .28s ease,
    background-color .1s ease;
}
.pbc-toggle input[type='checkbox']:checked + label::before {
  background-color: var(--accent-500);
  color: var(--accent-700);
  content: '\2713';
}
.pbc-toggle input[type='checkbox']:disabled:checked + label::before {
  background-color: var(--gray-300);
  color: #fff;
  content: '\2713';
}

/* radio button styles */
.pbc-toggle input[type='radio'] + label::before {
  border-radius: 50%;
  line-height: .6;
  padding-left: .07em;
}
.pbc-toggle input[type='radio']:checked + label::before {
  background-color: transparent;
  color: var(--accent-500);
  content: '\25CF';
}
.pbc-toggle input[type='radio']:disabled:checked + label::before {
  background-color: transparent;
  color: var(--gray-200);
  content: '\25CF';
}


.pbc-switch {
  padding-left: 1.75rem;
}
