- var currentPage = 'Global Navigation'
html(lang='en')
  include ./includes/_head
  body
    .container-fixed-1200(style="background-color: peru")
      | test
    .container-fixed-1200(style="background-color: honeydew")
      | test
    .container-fixed-1200.container-hero
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid cupiditate excepturi distinctio. Ipsam vero aspernatur quia molestiae. Nam reprehenderit aliquam, ex ipsum animi ab atque neque, facilis sapiente vero, cum.
    .container-fixed-1200
      .row.sm-eq-height
        .col-sm-3
          .pbc-card.pbc-card--link.text-center
            .pbc-card__content
              .pbc-card__icon.pbc-card__icon--margin-sm.center-block
                span.icon-health-savings
              h2.pbc-card__heading.h5 This is a header
              p Lorem ipsum dolor #[a(href='foo.html') sit amet, consectetur] adipisicing elit. Eaque repellat totam ut minus aliquam adipisci modi nulla, nam iure cum qui enim quasi quos fuga quidem esse quaerat consectetur nisi.
        .col-sm-3
          .pbc-card.text-center
            .pbc-card__content
              .pbc-card__icon.pbc-card__icon--margin-sm.center-block
                span.icon-health-savings
              h2.pbc-card__heading.h5 This is a header
              p Neque vitae maiores ducimus ipsam deserunt dolorum totam aspernatur autem velit possimus ipsum unde dolores iure quasi aliquam eligendi distinctio illo, nam a esse dignissimos? Qui suscipit sapiente, rerum aperiam.
        .col-sm-3
          .pbc-card.text-center
            .pbc-card__content
              .pbc-card__icon.pbc-card__icon--margin-sm.center-block
                span.icon-health-savings
              h2.pbc-card__heading.h5 This is a header
              p Est possimus vel saepe rem cumque. Consectetur ullam ducimus eum, optio saepe ipsam, amet earum fugit assumenda consequatur animi nobis repellendus? Rerum culpa quas cumque obcaecati provident tenetur ad laborum?
        .col-sm-3
          .pbc-card.text-center
            .pbc-card__content
              .pbc-card__icon.pbc-card__icon--margin-sm.center-block
                span.icon-health-savings
              h2.pbc-card__heading.h5 This is a header
              p Est possimus vel saepe rem cumque. Consectetur ullam ducimus eum, optio saepe ipsam, amet earum fugit assumenda consequatur animi nobis repellendus? Rerum culpa quas cumque obcaecati provident tenetur ad laborum?











    include ./includes/_scripts
