- var currentPage = 'Global Navigation'
html(lang='en')
  include ./includes/_head
  body

    .global-nav
      .global-nav__utility-bar.container-fixed-1200
        img.global-nav__logo.hidden-xs(src='img/pbc-logo.svg')
        img.global-nav__logo.visible-xs(src='img/pbc-logo-mobile.svg')
        ul.global-nav__utility-bar-links
          li
            a #[span.icon-home]
              span.hidden-xs Dashboard
          li
            a #[span.icon-notification]
              span.hidden-xs Notifications
          li
            a #[span.icon-user]
              span.hidden-xs First&nbsp;name
          li
            a #[span.icon-phone]
              span.hidden-xs Contact&nbsp;us
      .container-fixed-1200.global-nav__main
          ul.global-nav__section-links
            li
              a Item 1
            li.selected
              a Item 2
            li
              a Item 3
            li
              a Item 4
            li
              a Item 5
            li
              a Item 6


    .container-fixed-1200.container-hero.text-light(data-aspect-ratio="16:9")
      .hero-heading
        h1 Blah blah blah
    .container-fixed-1200
      .row.sm-eq-height
        .col-sm-3
          .pbc-card.pbc-card--link.text-center
            .pbc-card__content
              .pbc-card__icon.pbc-card__icon--margin-sm.center-block
                span.icon-health-savings
              h2.pbc-card__heading.h5 This is a header
              p Lorem ipsum dolor #[a(href='foo.html') sit amet, consectetur] adipisicing elit. Eaque repellat totam ut minus aliquam adipisci modi nulla.
        .col-sm-3
          .pbc-card.pbc-card--link.text-center
            .pbc-card__content
              .pbc-card__icon.pbc-card__icon--margin-sm.center-block
                span.icon-health-savings
              h2.pbc-card__heading.h5 This is a header
              p Neque vitae maiores ducimus ipsam deserunt dolorum totam aspernatur autem velit possimus ipsum unde dolores iure quasi aliquam eligendi distinctio illo, nam a esse dignissimos? Qui suscipit sapiente, rerum aperiam.
        .col-sm-3
          .pbc-card.pbc-card--link.text-center
            .pbc-card__content
              .pbc-card__icon.pbc-card__icon--margin-sm.center-block
                span.icon-health-savings
              h2.pbc-card__heading.h5 This is a header
              p Est possimus vel saepe rem cumque. Consectetur ullam ducimus eum, optio saepe ipsam, amet earum fugit assumenda consequatur animi nobis repellendus? Rerum culpa quas cumque obcaecati provident tenetur ad laborum?
        .col-sm-3
          .pbc-card.text-center
            .pbc-card__content
              .pbc-card__icon.pbc-card__icon--margin-sm.center-block
                span.icon-health-savings
              h2.pbc-card__heading.h5 This is a header
              p Est possimus vel saepe rem cumque. Consectetur ullam ducimus eum, optio saepe ipsam, amet earum fugit assumenda consequatur animi nobis repellendus? Rerum culpa quas cumque obcaecati provident tenetur ad laborum?
      .row
        .col-sm-6
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam saepe pariatur debitis hic optio corrupti minus eligendi natus cum ratione fuga non ad ullam dolore delectus, modi ea voluptas, accusantium.
        .col-sm-6
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto veritatis fugiat harum debitis nisi eum, consequuntur minus maxime rerum, facilis accusantium sit eligendi amet quia dolor inventore aliquam, ab nulla.
      .row
        .col-sm-6
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam saepe pariatur debitis hic optio corrupti minus eligendi natus cum ratione fuga non ad ullam dolore delectus, modi ea voluptas, accusantium.
        .col-sm-6
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto veritatis fugiat harum debitis nisi eum, consequuntur minus maxime rerum, facilis accusantium sit eligendi amet quia dolor inventore aliquam, ab nulla.
      .row
        .col-sm-6
          p Lorem ipsum dolor sit amet, #[a(class='pbc-popover') consectetur] adipisicing elit. Totam saepe pariatur debitis hic optio corrupti minus eligendi natus cum ratione fuga non ad ullam dolore delectus, modi ea voluptas, accusantium.
        .col-sm-6
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto veritatis fugiat harum debitis nisi eum, consequuntur minus maxime rerum, facilis accusantium sit eligendi amet quia dolor inventore aliquam, ab nulla.




    include ./includes/_scripts
    script(src='js/headroomConfig.js')
