- var currentPage = 'Page Layouts'
doctype html
html(lang='en')
  include ./includes/_head
  body
    include ./includes/_sidebarNav
    .main-content.container-fluid
      h1 Page Layouts
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

      ul
        li: a(href='layout-homepage.html' target='_blank') Homepage
        li: a(href='layout-campaign.html' target='_blank') Campaign homepage
        li: a(href='layout-landing.html' target='_blank') Landing page
        li: a(href='layout-landing-b.html' target='_blank') Landing page (logged in)
        li: a(href='layout-detail.html' target='_blank') Detail page
        li: a(href='layout-detail-b.html' target='_blank') Detail page (logged in)
        li: a(href='layout-error.html' target='_blank') Error page
        li: a(href='layout-login.html' target='_blank') Login page

    include ./includes/_scripts
