- var currentPage = 'Toggles'
doctype html
html(lang='en')
  include ./includes/_head
  body
    include ./includes/_sidebarNav
    .main-content.container-fluid
      h1 Toggles
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

      h2 Checkbox
      p
        label.pbc-checkbox(for='check1')
          input(type='checkbox' id='check1')
          span.pbc-checkbox__label unchecked
      p
        label.pbc-checkbox
          input(type='checkbox' checked)
          span.pbc-checkbox__label checked
      p
        label.pbc-checkbox
          input(type='checkbox' disabled)
          span.pbc-checkbox__label disabled

      h2 Radio button
      p
        label.pbc-radio
          input(type='radio')
          span.pbc-radio__label unchecked
      p
        label.pbc-radio
          input(type='radio' checked)
          span.pbc-radio__label checked
      p
        label.pbc-radio
          input(type='radio' disabled)
          span.pbc-radio__label disabled

      h2 Switch
      p
        label.pbc-switch
          input(type='checkbox')
          span.pbc-radio__label Paperless EOB
      p
        label.pbc-switch
          input(type='checkbox' checked)
          span.pbc-radio__label checked
      p
        label.pbc-switch
          input(type='checkbox' disabled)
          span.pbc-radio__label disabled


    include ./includes/_scripts
