- var currentPage = 'Toggles'
doctype html
html(lang='en')
  include ./includes/_head
  body
    include ./includes/_sidebarNav
    .main-content.container-fluid
      h1 Toggles
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

      h2 Checkbox
      p
        .pbc-toggle
          input(type='checkbox' id='check1')
          label(for='check1') unchecked
      p
        .pbc-toggle
          input(type='checkbox' checked)
          label(for='check2') checked
      p
        .pbc-toggle
          input(type='checkbox' disabled)
          label.pbc-checkbox__label disabled
      p
        .pbc-toggle
          input(type='checkbox' disabled checked)
          label.pbc-checkbox__label disabled

      h2 Radio button
      p
        .pbc-toggle
          input(type='radio' id='check1')
          label(for='check1') unchecked
      p
        .pbc-toggle
          input(type='radio' checked)
          label(for='check2') checked
      p
        .pbc-toggle
          input(type='radio' disabled)
          label.pbc-radio__label disabled
      p
        .pbc-toggle
          input(type='radio' disabled checked)
          label.pbc-radio__label disabled

      h2 Switch
      p
        .pbc-toggle
          input(type='radio' id='check1')
          label(for='check1') unchecked
      p
        .pbc-toggle
          input(type='radio' checked)
          label(for='check2') checked
      p
        .pbc-toggle
          input(type='radio' disabled)
          label.pbc-radio__label disabled
      p
        .pbc-toggle
          input(type='radio' disabled checked)
          label.pbc-radio__label disabled


    include ./includes/_scripts
