/* ==========================================================================
   General
   ========================================================================== */

.style-rule-do {
  border-bottom: 4px solid lime;
}

.style-rule-dont {
  border-bottom: 4px solid lime;
}





/* ==========================================================================
   Global navigation
   ========================================================================== */

/**
 * Push body down a so it's not obscured by the mobile nav-menu toggle
 */
body { margin-top: 2.3rem; }

.nav-toggle-label {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  display: block;
  padding: .15rem .5rem;
  background-color: #E0E0E0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  line-height: 1;
  cursor: pointer;

  & .icon-menu {
    margin-right: .25rem;
    color: var(--text-dark-primary);
    vertical-align: middle;
    font-size: 2rem;
  }
}

#nav-toggle:checked ~ .fixed-sidebar {
  display: block;
  background-color: #E0E0E0;
}

.fixed-sidebar { display: none; }


@media only screen and (min-width : 768px) {
  body {
    margin-top: 0;
  }
  .nav-toggle-label { display: none; }
  .fixed-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    width: 14rem;
    background-color: #fff;
  }
  .main-content {
    margin-left: 14rem;
  }
}

.fixed-sidebar__nav {
  padding: 0;
  list-style: none;

  & li a {
    display: inline-block;
    padding: .4em 1em;
    width: 100%;
  }
  & a:hover:not(.selected) {
    background-color: var(--gray-100);
  }
  & a.selected {
    background-color: var(--gray-500);
    color: var(--text-light-primary) !important;
  }
  & a:hover {
    text-decoration: none;
  }
  & a:active, a:focus {
    outline: 0;
  }
}





/* ==========================================================================
   Colors page
   ========================================================================== */

.color-group {
  overflow: hidden;
  margin: 0 0 1rem;
  padding: 0;
  border-radius: 2px;
  color: var(--text-light-primary);
  list-style-type: none;
  font-weight: 500;
  line-height: 1;

  & li {
    padding: 1em;
    font-size: inherit;
  }
}

.color-group .main-color { border-bottom: 4px solid #fff; }
.color-group .hex { float: right; }

.primary-100 { background-color: var(--primary-100); }
.primary-300 { background-color: var(--primary-300); }
.primary-500 { background-color: var(--primary-500); }
.primary-700 { background-color: var(--primary-700); }
.primary-900 { background-color: var(--primary-900); }

.accent-200 { background-color: var(--accent-200); }
.accent-500 { background-color: var(--accent-500); }
.accent-700 { background-color: var(--accent-700); }

.gray-100 { background-color: var(--gray-100); }
.gray-300 { background-color: var(--gray-300); }
.gray-500 { background-color: var(--gray-500); }
.gray-600 { background-color: var(--gray-600); }
.gray-900 { background-color: var(--gray-900); }





/* ==========================================================================
   Icons page
   ========================================================================== */

.icon-library [class^='icon-'] {
  color: rgb(0, 153, 217);
  vertical-align: middle;
  font-size: 48px;
}





/* ==========================================================================
   Snackbars page
   ========================================================================== */

.global-nav.global-nav--alert-example {
  position: static;
}
