.color-group {
  overflow: hidden;
  margin: 0 0 1rem;
  padding: 0;
  border-radius: 2px;
  color: var(--text-light-primary);
  list-style-type: none;
  font-weight: 500;
  line-height: 1;
}
.color-group li {
  padding: 1em;
  font-size: inherit;
}
.color-group .main-color { border-bottom: 4px solid #fff; }
.color-group .hex { float: right; }

.primary-100 { background-color: var(--primary-100); }
.primary-300 { background-color: var(--primary-300); }
.primary-500 { background-color: var(--primary-500); }
.primary-700 { background-color: var(--primary-700); }
.primary-900 { background-color: var(--primary-900); }

.accent-200 { background-color: var(--accent-200); }
.accent-500 { background-color: var(--accent-500); }
.accent-700 { background-color: var(--accent-700); }

.gray-100 { background-color: var(--gray-100); }
.gray-300 { background-color: var(--gray-300); }
.gray-500 { background-color: var(--gray-500); }
.gray-600 { background-color: var(--gray-600); }
.gray-900 { background-color: var(--gray-900); }

/* push body down a so it's not obscured by the nav toggle*/
body { margin-top: 2.3rem; }
.nav-toggle-label {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  display: block;
  padding: .15rem .5rem;
  background-color: #E0E0E0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  line-height: 1;
  cursor: pointer;
}
.nav-toggle-label .icon-menu {
  font-size: 2rem;
  vertical-align: middle;
  color: var(--text-dark-primary);
  margin-right: .25rem;
}
#nav-toggle:checked ~ .fixed-sidebar {
  display: block;
  background-color: #E0E0E0;
}

.fixed-sidebar { display: none; }


@media only screen and (min-width : 768px) {
  body {
    margin-top: 0;
  }
  .nav-toggle-label { display: none; }
  .fixed-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    width: 14rem;
    background-color: #fff;
  }
  .main-content {
    margin-left: 14rem;
  }
}

.fixed-sidebar__nav {
  padding: 0;
  list-style: none;
}
.fixed-sidebar__nav li a {
  display: inline-block;
  padding: .4em 1em;
  width: 100%;
}
.fixed-sidebar__nav a:hover:not(.selected) {
  background-color: var(--gray-100);
}
.fixed-sidebar a.selected {
  background-color: var(--gray-500);
  color: var(--text-light-primary) !important;
}
.fixed-sidebar a:hover {
  text-decoration: none;
}
.fixed-sidebar a:active,
.fixed-sidebar a:focus {
  outline: 0;
}

.icon-library [class^='icon-'] {
  color: rgb(0, 153, 217);
  vertical-align: middle;
  font-size: 48px;
}
