/* ==========================================================================
   Temporary Junk
   ========================================================================== */

/* will be replaced with Google CDN link */
@font-face {
  font-family: 'Roboto';
  src: url('../fonts-new/roboto.woff');
}


/* ==========================================================================
   Typography
   ========================================================================== */

 /**
  * Rucksac PostCSS plugin used for responsive typography
  * (http://simplaio.github.io/rucksack/docs/#responsive-type)
  *
  * font-range property based on Bootstrap's range of breakpoints
  *
  * Type is set using a modular scale of 1.125
  */
html, body {
  /* Override Bootstrap's 14px base font size*/
  font-size: 16px;

  /* Rucksack properties */
  font-size: responsive;
  min-font-size: 0.875rem;
  max-font-size: 1.125rem;
  lower-font-range: 480px;
  upper-font-range: 1200px;

  font-family: 'Roboto';
  color: rgba(0, 0, 0, 0.8);
  line-height: 1.5;
}

a { color: #0066CC; }
a:hover,
a:active { color: #00478e; }

h1 { font-size: responsive 1.774rem 2.281rem; }
h2 { font-size: responsive 1.577rem 2.027rem; }
h3 { font-size: responsive 1.402rem 1.802rem; }
h4 { font-size: responsive 1.246rem 1.602rem; }
h5 { font-size: responsive 1.107rem 1.424rem; }
h6 { font-size: responsive 0.984rem 1.266rem; }


/* ==========================================================================
   Layout
   ========================================================================== */

.container-fixed-content {
  padding: 1em;
}

@media only screen and (min-width : 1200px) {
  .container-fixed-content {
    padding: 1em calc(50% - 568px);
  }
}


/* ==========================================================================
   Global media query rules
   ========================================================================== */

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
